
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    max-width: 600px;
}

#number-guessing-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.hide {
    display: none;
}

#result {
    font-size: 1.2em;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}
